body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    background-color: darkred!important;
}

.navbar-inverse {
    background-color: darkred!important;
    border-color: #080808;
}

.header{
    background-color:brown;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.coltext{
    text-align: left;
}
.containerw{
    max-height: 400px;
    overflow-y: scroll;
}

.rowodd{
    background-color: #ebcccc;
    border-bottom: #c7ddef;
}
.rowoev{
    background-color: #c7ddef;
    border-bottom: #c7ddef;
}